.left{float: left;}
.block{display: block;}
.tex-center{text-align: center;}
.text-left{text-align: left;}
.div_busca_dominio{padding: 40px 15px;text-align: center;}
.label_busca_dominio{font-family: arial;font-size: 21px;}
.input_dominio{width: 300px !important;text-align: center;font-family: arial;font-size: 20px;}
.btn_registro{margin-top: 12px;}
.input-cad{width: 800px;}
.input-cad2{width: 100px;}
.input-cad3{width: 150px;}
.input-cad4{width: 300px;}
.input-cad5{width: 743px;}
.select-estado{width: 180px;}
#resultadodominio{border: 1px solid #1b6d85;padding-left: 5px;padding-top: 5px;}
#btn_reg{margin-bottom: 10px;}
#div_acesso{border-right: 1px solid #204d74;width: 462px;padding-left: 50px;}
#div_conta{padding-left: 15px;}
.label_nome{margin-top: 7px;margin-right: 50px;}
.label_logradouro{margin-top: 7px;margin-right: 8px;}
.label_numero{margin-top: 7px;margin-right: 35px;}
.label_complemento_bairro{margin-top:7px;margin-right: 35px;margin-left:20px;}
.label_bairro{margin-top: 7px;margin-right: 47px;}
.label_uf{margin-top: 7px;margin-right: 41px;}
.label_empresa{margin-top: 7px;margin-right: 30px;}
.linha-cad{margin-bottom: 10px;}
